body{
    margin: 0 auto;
    text-align: center;
    font-size: 1.0em;
    background-color: #F7F7F7;
    font-family: PingFangSC-Medium, sans-serif;
}

#ability, #nation{
    text-align: left;
    margin-bottom: 5px;
}

table{
    border: none;
    border-collapse: collapse;
}

#selector{
    padding: 5px;
    padding-bottom: 0px;
}
